@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}
/*nav bar Start*/
.youtube{
    width: 50px;  
}
.facebook{
    width: 20px;
}
.navigation_bar{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
}
.icon_gamer{
    display: flex;
    align-items: center ;   
}
.right_nav_bar{
    display: flex;
    align-items: center ;
}
.nav_title{
    padding-left: 20px;
    padding-right: 20px;
}
.follow_icon{
    display: flex;
    align-items: center;
    height: 40px;
    background: #c4c4c4;
    border-radius: 15px;   
}
.follow_icon a{
    padding: 10px;
}
.follow_icon img{
    padding-left: 5px;
}
.logo{
    width: 60px;
    height: 40px;
}
.about_dev{
    background: #fff;
}
.nav_title{
    text-decoration: none;
    color: black;
    font-size: 15px;  
}
.gammer{
    font-family: roboto;
    margin-left: 25px; 
}
.gammer strong{
    color: #FF42A5;  
}
/*nav bar END*/

/*Header Section Start*/
.header_section{ 
    background: #fafafa; 
    
}
.main_header{
    display: flex;
    justify-content: space-around;
}
.play{
    font-size: 35px;
}
.goat{
    font-size: 70px;
    color:#F948B2;
}
.goat_all{
    margin-top: -400px;
    width: 500px;
    padding-left: 200px;
}
.btn_a{
    background: #F948B2;
    border: none;
    padding: 15px 40px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.btn_b{
    background: #4EC5F7;
    border: none;
    padding: 15px 40px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.goat_all p{
    padding: 5px;
}
.header_left_item img{
    width: 95%;
    height: 100%;
    
}
.header_right_item img{
    width:90%;
    height: 100%;
    
    
}

/*Header Section END*/

/*we_are_gamer start*/
.we_are_gamer{
    background: #f1f1f1;
    padding-top: 60px;
}
.all_gmaer{
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}
.all_gmaer img{
    padding: 10px;
    height: 90%;
    width: 90%;
}
.we_are_text{
    text-align: right;
    padding-top: 55px;
    
}
.we_are{
    color: #FF42A5;
    font-size: 35px;
    padding-bottom: 25px;
}
.we_are_text p{
    padding: 15px 0px;
    line-height: 25px;
}
.we_are_text h4{
    padding-top: 25px;
}
/*we_are_gamer END*/




